# defines the SSL cert/key files as a snippet to be reused.
(ssl_certs) {
	tls "/data/certs/local.cert.pem" "/data/certs/local.key.pem"
}

# host->container for the webapp
app.core.local {
	import ssl_certs
	reverse_proxy host.docker.internal:44324
}

# host->container for the whoami app
test.core.local {
	import ssl_certs
	reverse_proxy test:80
}